* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    22deg,
    rgba(252, 62, 10, 0.9251050762101716) 0%,
    rgba(244, 225, 11, 0.6085784655659139) 100%
  );
  max-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25px;
}

.all-content {
  max-height: 85vh;

  max-width: 90vw;

  background: lightskyblue;

  box-shadow: 5px 5px 13px hsl(0, 15%, 15%, 0.85);

  padding: 25px;

  overflow-y: scroll;

  gap: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-radius: 25px;
}

.all-content::-webkit-scrollbar {
  background: black;
  width: 10px;
  border-radius: 25px;
}

.all-content::-webkit-scrollbar-thumb {
  background: white;
}

.audio-btn {
  background: blue;
  max-height: fit-content;

  min-width: min-content;

  max-width: 250px;

  border-radius: 15px;
  border: 3px solid white;
  box-shadow: 5px 5px 13px hsl(0, 15%, 15%, 0.85);

  color: white;

  padding: 15px;

  font-size: clamp(15px, 35px, 45px);

  word-break: break-word;
}

.audio-btn:hover {
  cursor: pointer;
}

.heading-container {
  max-width: fit-content;
}

.heading {
  color: white;
  text-align: center;
  font-size: clamp(45px, 65px, 75px);
  margin-bottom: 25px;
  box-shadow: 4px 4px 15px hsl(0, 15%, 15%, 0.75);
  text-shadow: 4px 4px 8px hsl(0, 15%, 15%, 0.9);
  border: 5px solid white;
  border-radius: 25px;
  background: orangered;
}
